# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Node.js
node_modules/
dist/
dist-ssr/
*.local
.npm/
.pnpm-store/
.yarn/
tmp/
.env
.env.*.local
.DS_Store
Thumbs.db

# Vite specific
.vite/

# Editor/OS specific
.vscode/
.idea/
*.swp
*.bak
*.swo